export IRON_BANK_USER="__CHANGE_ME__"
export IRON_BANK_PAT="__CHANGE_ME__"
export AZDO_USER="__CHANGE_ME__"
export AZDO_PASSWORD="__CHANGE_ME__"
export ISTIO_GW_CRT="__CHANGE_ME__"
export ISTIO_GW_KEY="__CHANGE_ME__"
